/* Carousel Link Styling */
.carousel-item a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

.carousel-item a:hover {
    color: #4caf50;
    font-weight: bold;
}

/* Scroll Container Styling */
.scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    padding-left: 100px;
    transition: all 0.5s ease;
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

/* Scroll Item Styling */
.scroll-item {
    flex: 0 0 33.33%;
    scroll-snap-align: center;
    margin-right: 50px;
}

.image {
    width: 70%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Hidden Images */
.hidden {
    display: none;
}

/* Hero Section Styling */
.started {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}

h1 {
    font-weight: bold;
}

/* First Scroll Item Adjustments */
.scroll-item:first-child {
    margin-left: 0;
    margin-right: 50px;
}

/* Reset Margin */
body {
    margin: 0;
    padding: 0;
}

/* Additional Styles for Animation */
.text {
    margin: 4rem;
    color: var(--white);
}

.text h2 {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 2rem 0;
    transition: 1s ease-in-out;
}

.text p {
    font-weight: 600;
    transition: 1s ease-in-out;
    transition-delay: .2s;
}

.img img {
    width: 30vw;
    transition: 1s ease-in-out;
    transition-delay: .4s;
}

.container.sign-in .form.sign-in,
.container.sign-in .social-list.sign-in,
.container.sign-in .social-list.sign-in > div,
.container.sign-up .form.sign-up,
.container.sign-up .social-list.sign-up,
.container.sign-up .social-list.sign-up > div {
    transform: scale(1);
}

/* Background */
.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300vw;
    transform: translate(35%, 0);
    background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    transition: 1s ease-in-out;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom-right-radius: max(50vw, 50vh);
    border-top-left-radius: max(50vw, 50vh);
}

.container.sign-in::before {
    transform: translate(0, 0);
    right: 50%;
}

.container.sign-up::before {
    transform: translate(100%, 0);
    right: 50%;
}

/* Responsive Adjustments */
@media only screen and (max-width: 425px) {
    .container::before,
    .container.sign-in::before,
    .container.sign-up::before {
        height: 100vh;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 0;
        transform: none;
        right: 0;
    }
}
